{{!-- fix styling --}}
<div class="section-heading-bar">
  <h2 id="sectionHeading">Academic Resources</h2>

  <a href="/academicResources/create" class="create-post-button">Create Academic Resource</a>
</div>

<div class="forum-posts-list">
  {{#each academicResources}}
    <div class="forum-post-card">
      <h3 class="forum-title">{{title}}</h3>
      <p class="forum-posted-by">
        Posted by:
        {{uploadedBy.firstName}} {{uploadedBy.lastName}}
      </p>
      <p class="forum-content">{{description}}</p>
      <a class="forum-content" href={{url}}>{{url}}</a>
      {{#each tags}}
        <p class="forum-content">{{this.name}}</p>
      {{/each}}
      <div class="forum-buttons">
        <button class="vote-button delete-button" data-id="{{_id}}">Delete</button>
      </div>
      <div class="forum-buttons">
        <button class="vote-button report-button" data-id="{{_id}}">Report</button>
      </div>
    </div>
  {{/each}}
</div>

<script>
  const loggedInUserId = "{{loggedUserId}}";
</script>
<script src="/public/js/academicResourceLanding.js"></script>