<!-- views/academicResources/create.hbs -->
<div class="create-post-page">
  <h2>Create a New Academic Resource</h2>

  <div id="forumFormContainer">
    <!-- validation errors will appear here -->
    <div
      id="formErrors"
      class="form-errors"
      style="color: red; margin-bottom: 1rem;"
    ></div>

    <form
      method="POST"
      action="/academicResources/create"
      name="forumForm"
      id="forumForm"
    >
      <input type="hidden" id="userId" name="userId" value="{{loggedUserId}}" />

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"  />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" ></textarea>
      </div>

{{!-- categories --}}
      <div class="form-group">
        <label for="category">Select Category:</label>
        <select id="category" name="category">
           <option value="" disabled selected>Select a category</option>

          {{#each categories}}
            <option value="{{this._id}}">{{this.categoryName}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="url">URL:</label>
        <textarea id="url" name="url" ></textarea>
      </div>

      <div class="form-group">
        <label for="tags">Select Tags:</label>
        <select id="tags" name="tags" multiple>
          {{#each tags}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

      <button type="submit" class="submit-post-button">
        Submit Academic Resource
      </button>
    </form>
  </div>
</div>

<script src="/public/js/createAcademicResource.js"></script>