{{#if isPoll}}
  <!-- Poll header -->
  <div class="poll-post-card">
    <h3 class="poll-question">{{forum.question}}</h3>
    <p class="poll-created-by">
      Created by:
      {{forum.createdBy.firstName}}_{{forum.createdBy.lastName}}
    </p>
    {{#if forum.imageURLs.length}}
      <div class="poll-images">
        {{#each forum.imageURLs}}
          <img src="{{this}}" alt="Poll Image" class="poll-image" />
        {{/each}}
      </div>
    {{/if}}

    <ul class="poll-options-list">
      {{#each forum.options}}
        <li>
          {{this.answer}}
          &ndash;
          {{this.voterId.length}}
          votes
        </li>
      {{/each}}
    </ul>

  </div>
{{else}}
  <!-- Forum header -->
  <div class="forum-post-card">
    <h3 class="forum-title">{{forum.title}}</h3>
    <p class="forum-posted-by">
      Posted by:
      {{forum.userId.firstName}}_{{forum.userId.lastName}}
    </p>
    <p class="forum-content">{{forum.content}}</p>

    {{#if forum.imageURLs.length}}
      <div class="forum-images">
        {{#each forum.imageURLs}}
          <img src="{{this}}" alt="Forum Image" class="forum-image" />
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}

<div class="comments-header">
  <h2 class="comments-title">Comments</h2>
  {{#if isPoll}}
    <a href="/forums/comments/add/{{forum._id}}" class="add-comment-button">
      Add Comment
    </a>
  {{else}}
    <a href="/forums/comments/add/{{forum._id}}" class="add-comment-button">
      Add Comment
    </a>
  {{/if}}
</div>

<div class="comments-list">
  {{#if comments.length}}
    {{#each comments}}
      <div class="comment-card">
        <p class="comment-user">
          {{this.userId.firstName}}_{{this.userId.lastName}}
        </p>

        <p class="comment-content">{{this.content}}</p>

        {{#if this.imageURLs.length}}
          <div class="comment-images">
            {{#each this.imageURLs}}
              <img src="{{this}}" alt="Comment Image" class="comment-image" />
            {{/each}}
          </div>
        {{/if}}

        <div class="comment-actions">
          <button class="comment-upvote" data-id="{{this._id}}">
            <img
              src="/public/images/icons/upVote.png"
              alt="Upvote"
              class="vote-icon"
            />
            <span class="comment-upvote-count">{{this.upVotes}}</span>
          </button>
          <button class="comment-downvote" data-id="{{this._id}}">
            <img
              src="/public/images/icons/downVote.png"
              alt="Downvote"
              class="vote-icon"
            />
            <span class="comment-downvote-count">{{this.downVotes}}</span>
          </button>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No comments yet. Be the first to comment!</p>
  {{/if}}
</div>

<script>
  const loggedInUserId = "{{loggedUserId}}";
</script>
<script src="/public/js/commentUpvote.js"></script>