<div class="forum-header-bar">
  <div class="toggle-buttons">
    <button id="forumsToggle" class="active">Forums</button>
    <button id="pollsToggle">Polls</button>
  </div>

  <div class="filter-section">
    <label for="filter">Filter:</label>
    <select id="filter">
      <option value="Most UpVoted">Latest</option>
      <option value="Most DownVoted">Popular</option>
    </select>
  </div>
</div>

<div class="section-heading-bar">
  <h2 id="sectionHeading">Forum Posts</h2>

  <a href="/forums/create" class="create-post-button">Create Post</a>
</div>

<!-- List of forum posts -->
<div class="forum-posts-list">
  {{#each forumPosts}}
    <div class="forum-post-card">
      <!-- Forum Title -->
      <h3 class="forum-title">{{title}}</h3>

      <!-- Posted By (firstName_lastName) -->
      <p class="forum-posted-by">
        Posted by:
        {{userId.firstName}}_{{userId.lastName}}
      </p>

      <!-- Content -->
      <p class="forum-content">{{content}}</p>

      {{! NEED TO IMPLEMENT THE TAGS PART }}

      <!-- If images exist -->
      {{#if imageURLs.length}}
        <div class="forum-images">
          {{#each imageURLs}}
            <img src="{{this}}" alt="Forum Image" class="forum-image" />
          {{/each}}
        </div>
      {{/if}}

      <!-- Upvote, Downvote, Comment buttons -->
      <div class="forum-buttons">
        <button class="vote-button upvote-button" data-id="{{_id}}">
          <img
            src="/public/images/icons/upVote.png"
            alt="Upvote"
            class="vote-icon"
          />
          <span>{{upVotes}}</span>
        </button>
        <button class="vote-button downvote-button" data-id="{{_id}}">
          <img
            src="/public/images/icons/downVote.png"
            alt="Downvote"
            class="vote-icon"
          />
          <span>{{downVotes}}</span>
        </button>
        <button class="comment-button" data-id="{{_id}}">
          💬 Comment
        </button>
      </div>
    </div>
  {{/each}}
</div>

<script>
  const loggedInUserId = "{{loggedUserId}}";
</script>
<script src="/public/js/forumLanding.js"></script>