<div class="forum-posts-list">
  {{#each forumPosts}}
    <div class="forum-post-card">

      <button
        type="button"
        class="delete-button"
        data-id="{{_id}}"
        title="Delete this post"
      >✕</button>

      <h3 class="forum-title">{{title}}</h3>

      <p class="forum-posted-by">
        Posted by:
        {{userId.firstName}}_{{userId.lastName}}
      </p>

      <p class="forum-content">{{content}}</p>

      {{#if imageURLs.length}}
        <div class="forum-images">
          {{#each imageURLs}}
            <img src="{{this}}" alt="Forum Image" class="forum-image" />
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>

<script src="/public/js/userForums.js"></script>